:root{
    --text-color: #071212;
    --link-color: #ffffff;
    --background-color: #dce3e3;
    font-size: 20px; /* base font size */
}

@font-face{
    src: url(fonts/LEMONMILK-Regular.otf);
    font-family: lemon;
}

@font-face{
    src: url(fonts/Salmon\ Season.otf);
    font-family: salmon-season;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: salmon-season, sans-serif;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

nav{
    background-color: #bdf0f2;
    display: flex;
    justify-content: space-between;
    padding: 0 3.125rem;
    height: 5rem;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.99;
    backdrop-filter: blur(5px);
}

nav .left a{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 600;
}

nav .right a{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 600;
    margin: 0 0.625rem;
}

nav .right a:hover{
    color: #4c8688;
    transition: color 0.5s ease-in-out;
}

section:nth-of-type(odd) {
    background-color: #ffffff; 
}

section:nth-of-type(even) {
    background-color: #406565;
    color: #ffffff;
}

#about {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8rem 2rem;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

#about .about-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    gap: 2rem; 
    width: 80%; 
    max-width: 1500px; 
    text-align: left; 
}

#about .pfp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about .pfp .avatar {
    width: 22rem;
    height: 22rem;
    border-radius: 70%;
    object-fit: cover;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#about .pfp h4 {
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;
}

#about .bio {
    flex: 1;
    margin-top: 15px; 
    max-width: 700px; 
    text-align: center;
}

#projects {
    padding: 4rem 2rem;
    text-align: center;
}

#projects h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-underline-offset: 10px;
}

#projects h3 {
    font-size: 1.75rem; 
    font-weight: 700;
    margin-bottom: 1rem;
}

#projects h4{
    font-size: 1.25rem; 
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#projects .projects-content {
    display: flex;
    flex-direction: column;
    gap: 3rem; 
    align-items: center; 
}

#projects .design-project {
    display: flex;
    justify-content: center; 
    gap: 2rem; 
    width: 100%;
    text-align: center;
}

#projects .link-box {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    min-height: 250px; 
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 2rem;
    overflow: hidden;
}

#projects .box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #bde8ea;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #4c8688;
    color: white;
    min-height: 450px;
    text-align: center;
}

#projects .project-img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

#projects .project-desc {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    margin-top: 1rem;
    overflow: hidden; 
    text-align: center;
}

#projects .project-desc h4 {
    font-size: 1rem; 
    font-weight: 500;
    margin-bottom: 0.25rem;
}

#projects .link-box:hover .box-content {
    background-color: #bde8ea;
    color:#000000;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

#interests {
    padding: 4rem 2rem;
    text-align: center;
}

#interests .interest-content{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: stretch;
}

#interests h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-underline-offset: 10px;
}

#interests h4{
    font-size: 1.25rem; 
    font-weight: 700;
    margin-bottom: 0.5rem;
}

#interest .desc{
    font-size: 1rem; 
    font-weight: 500;
    margin-bottom: 0.5rem;
}

#interests .link-box {
    text-decoration: none;
    justify-content: space-between;
    width: 100%;
    max-width: 350px; 
    flex: 1 1 350px;
    display: flex;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-bottom: 2rem;
    overflow: hidden;
}

#interests .box-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #406565;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #bde8ea;
    min-height: 450px;
    width: 100%;
    height: 100%;
    text-align: center;
}

#interests .interest-img {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}

#interests .link-box:hover .box-content {
    background-color: #4c8688;
    color:#ffffff;
    transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#contact{
    padding: 2rem 2rem;
    text-align: center;
}

#contact h1{
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
    text-underline-offset: 10px;
}

#contact .contact-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

#contact i{
    font-size: 3rem;
    color: #ffffff;
    margin: 1rem 0;
    transition: transform 0.5s ease, color 0.5s ease;
}

#contact i:hover{
    color: #bde8ea;
    transform: scale(1.1);
}

footer {
    background-color: #bdf0f2;
    display: flex;
    justify-content: space-between;
    padding: 0 3.125rem;
    align-items: center;
    width: 100%;
    min-height: 50px;
    z-index: 1000;
    font-weight: 700;
}

footer .navi{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

footer .navi a:hover{
    color: #4c8688;
    transition: color 0.5s ease-in-out;
}